{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %} 
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Turbokart Pvt. Ltd.!</h1>
        <p>Turbokart Pvt Ltd. is an Indian electronic commerce company based India. We provide various products and items which are of daily use. You can buy these products sitting anywhere comfortably from our platfrom in just few clicks.
  
  We have tied up with best sellers across the country and we are continously expanding. We believe in being customer centric ecommerce platfrom thereby ensuring the availibility of quality products at reasonable prices. The platfrom provides cart functionality where you can add your favourite items in any quantity. 
  
The platfrom offers quick buy feature using Paytm gateway and then you can track your product with your transaction ID. We believe in improving every day and it is not possible without our customers help so kindly provide feedbacks to us through our Contact Us Page.
<br>
<br>
<b> <i>We Wish You Happy Shopping.</i></b
</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
  
    </div> <!-- /container -->
  
  </main>
{% endblock %}
